@media (min-width: 960px) { 
    .misc {
        margin: 0 auto;
        width: 1000px;  
    }
}

.misc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 960px) { 
    .misc {
        margin: 0 auto;
        width: 300px;  
    }    
}