@media (min-width: 960px) { 
    .top h1 {
      color: white;
      background-color: #474949;
      background-size: cover;
      font-size: 50px;
      padding-top: 0px;
      padding-bottom: 0px;
      text-align: center;
      margin-top: 500px;
    }
    
  .top{
    height: 550px;
    width: 85%;
    background-color: #474949;
    background-image: url("../../images/Home.png");
    background-size: cover;
    position: relative;
    padding-top: 10px;
    margin: 0 auto;
    border: 18px solid black;
    margin-top: 40px;
  }
  
  .home{
    padding-top: 45px;
  }
  
  .content{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 620%;
    max-width: 950px;
    border-top: solid gray;
  }

  .content-grid {
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    display: grid;
    grid-template-columns:19% 81%;
  }

  .about-index {
    grid-column: 1 / 2;
    font-size: 22px;
    float: left;
  }

  .content-about{
    max-width: 950px;
    grid-column: 2 / 3;
    border-left: thick solid gray;
    padding-left: 10px;
    text-align: left;
  }

  .content-index {
    grid-column: 1/2;
    grid-row: 1/4;
    font-size: 22px;
    float: left;
    /*text-align: center;*/
  }

  .content-row {
    grid-column: 2 / 3;
    border-left: thick solid gray;
    padding-left: 10px;
  }
  
  .col-1 {
    display: inline-block;
    width: 30%;
    text-align: left;
  }
  .col-2 {
    display: inline-block;
    width: 70%;
    text-align: left;
  }

  .content-pub {
    grid-column: 2 / 3;
    border-left: thick solid gray;
    padding-left: 10px;
    text-align: left;
    margin-bottom: 3px;
  }

  .color-pub {
    color: #00A8CC
  }
  
  .content-skill{
    margin: 0 auto;
    margin-bottom: 300px;
    text-align: center;
    height: 55px;
    width: 100%;
  }
  
  .content-skill h3{
    font-size: 40px;
  }
  
  .content-skill-list{
    margin-top: 0px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
  
    /* animation-name: fadein; */
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  
  .skill-lang{
    width: 48%;
  }
  
  .skill-lang-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #00A8CC;
    border-radius: 1%;
    background-color: white;
  }
  
  .skill-lang-content h2{
    margin: 30px;
  }
  
  .skill-framework{
    width: 48%;
  }
  
  .skill-framework-title{
    
    width: 50%;
    margin: 0 auto;
  }
  
  .skill-framework-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #00A8CC;
    border-radius: 1%;
    background-color: white;
  }
  
  .skill-framework-content h2{
    margin: 30px;
  }  
  
  /* contact */
  .contact h3{
    font-size: 40px;
  }
  
  .contact{
    margin: 60px auto;
    max-width: 400px;
  }
  
  .contact h2, h3 {
    text-align: center;
  }
  
  .contact-icon{
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  
  .contact-content{
    margin-top: 20px;
  }

  li {
    display: inline;
    margin: 0 5px;
    }
  
  
  /* contact-end */
  
  @keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
       }
    }
  }
  
  
  
  
  
  
  
  
  
  
  @media screen and (max-width: 960px) { 
  
    .top h1 {
      color: white;
      font-size: 40px;
      padding-top: 40px;
      text-align: center;
    }
    
  
  .top{
    height: 400px;
    background-color: #474949;
    background-size: cover;
    background-image: url("../../images/Home.png");
    position: relative;
  }
  
  
  .content{
    margin: 0 auto;
    margin-bottom: 300px;
    width: 100%;
    max-width: 950px;
  }
  
  
  
  .content-skill{
    margin: 0 auto;
    text-align: center;
    height: 55px;
    width: 100%;
  
  }
  
  .content-skill h3{
    font-size: 26px;
  }
  
  .content-skill{
    margin-top: 450px;
  }
  
  
  .content-skill-list{
    margin-top: 0px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    /* animation-name: fadein; */
    animation-duration: 2s;
    animation-iteration-count: 1;
  }
  
  .skill-lang{
    width: 80%;
    font-size: 12px;
  
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .skill-lang-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #00A8CC;
    border-radius: 1%;
    background-color: white;
  }
  
  .skill-lang-content h2{
    margin: 15px;
  }
  
  .skill-framework{
    width: 80%;
    font-size: 12px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  
  .skill-framework-title{
    width: 50%;
    margin: 0 auto;
  }
  
  .skill-framework-content{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    border: solid 1px #00A8CC;
    border-radius: 1%;
    background-color: white;
  }
  
  .skill-framework-content h2{
    margin: 15px;
    
  }
  
  @keyframes fadein {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
       }
    }

    .contact-item {
        margin: 15px;
    }
  
  }