@media screen and (min-width: 960px) {
    .HeaderButton{
      height: 100%;
      width: 150px;
      margin-left: 20px;
      margin-right: 20px;
      
      display: flex;
      justify-content: center;
      align-self: center;
    
      transition: all 0.2s;
    }
    
    .HeaderButton:hover{
      background-color: rgb(240, 240, 240);
    }
    
    .HeaderButton p{
      margin-top: 25px;
      font-size: 18px;
      color: #5A5A5A;
      font-weight: bolder;
    
      transition: all 0.3s;
    }
   }
  
  @media screen and (max-width: 960px) { 
    .HeaderButton{
      height: 100%;
      width: 100%;
      
      display: flex;
      justify-content: center;
      align-self: center;
    
      transition: all 0.2s;
    }
    
    .HeaderButton:hover{
      -webkit-tap-highlight-color: rgba( 77, 160, 231, 0.5);
    }
    
    .HeaderButton p{
      margin: 20px;
      font-size: 18px;
      color: #5A5A5A;
      font-weight: bolder;
    
      transition: all 0.3s;
    }
  }
  